  <footer class="footer">
      <div class="container">
        <p class="text-muted">©2017 YIAJAS.COM CAROLINA FLORES SAN MARTIN, MARIA ELENA ARELLANO, FABIAN GUERRERO, ANIBAL CORRAL SERRANO  ALL RIGHT RESERVED</p>
      </div>
    </footer>
    <!--

<div style="width: 100%; bottom: 0;position: absolute;height: 65px">
<footer>
<div align="center">
<span>©2017 YIAJAS.COM CAROLINA FLORES SAN MARTIN, MARIA ELENA ARELLANO, FABIAN GUERRERO, ANIBAL CORRAL SERRANO  ALL RIGHT RESERVED</span>
</div>
</footer>
</div>
-->