<style type="text/css">
body,td,th {
	font-family: Arial, Helvetica, sans-serif;
}
</style>
  <footer class="footer">
      <div class="container">
        <p class="text-muted">&nbsp;</p>
        <p class="text-muted">CAROLINA FLORES SAN MARTIN - MARIA ELENA ARELLANO - FABIAN GUERRERO - ANIBAL CORRAL SERRANO  </p>
        <p class="text-muted">ALL RIGHT RESERVED ©2017 YIAJAS.COM </p>
      </div>
    </footer>
    <!--

<div style="width: 100%; bottom: 0;position: absolute;height: 65px">
<footer>
<div align="center">
<span>©2017 YIAJAS.COM CAROLINA FLORES SAN MARTIN, MARIA ELENA ARELLANO, FABIAN GUERRERO, ANIBAL CORRAL SERRANO  ALL RIGHT RESERVED</span>
</div>
</footer>
</div>
-->